<launch>
  <arg name="sec_idle" default="3.0" />
  <arg name="use_base_odom" default="false" />

  <node pkg="guidebot_control" name="holonomic_controller"
        type="holonomic_controller" output="screen">
    <param name="sec_idle" value="$(arg sec_idle)" />
    <param name="publish_odom" value="$(arg use_base_odom)" />
    <!-- <remap from="spur/cmd_vel" to="/spur/cmd_vel" /> -->
    <!-- <remap from="odom" to="/odom" /> -->
  </node>


  <group if="$(arg use_base_odom)" >
    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
      <param name="output_frame" value="odom"/>
      <param name="freq" value="30.0"/>
      <param name="sensor_timeout" value="1.0"/>
      <param name="odom_used" value="true"/>
      <param name="imu_used" value="false"/>
      <param name="vo_used" value="false"/>
      <param name="debug" value="true"/>
      <param name="self_diagnose" value="false"/>
    </node>
  </group>

</launch>
