<launch>
  <include file="$(find guidebot_gazebo)/launch/simulation.launch"/>
  <include file="$(find guidebot_control)/launch/diff_drive_controllers.launch"/>

  <!-- Publish joint states on tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <node name="odom_relay" pkg="topic_tools" type="relay"
          args="/mobile_base_controller/odom /odom"/>

  <include file="$(find guidebot_navigation)/launch/cartographer_sweep_imu.launch"/>

  <include file="$(find guidebot_navigation)/launch/move_base2.launch"/>

  <arg name="cmd_vel_out" default="/mobile_base_controller/cmd_vel"/>

  <arg name="config_locks"  default="$(find guidebot_navigation)/config/twist_mux_locks.yaml"/>
  <arg name="config_topics" default="$(find guidebot_navigation)/config/twist_mux_topics.yaml"/>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
    <remap from="cmd_vel_out" to="$(arg cmd_vel_out)"/>
    <rosparam file="$(arg config_locks)"  command="load"/>
    <rosparam file="$(arg config_topics)" command="load"/>
  </node>

  <node pkg="twist_mux" type="twist_marker" name="twist_marker">
    <remap from="twist"  to="$(arg cmd_vel_out)"/>
    <remap from="marker" to="twist_marker"/>
  </node>

  <!-- Show in Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find guidebot_navigation)/rviz/show_navigation.rviz"/>

  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>
</launch>
